<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("LogoEmmaStitch.jpeg", alt: "Logo EmmaStitch") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
            <!--<a class="nav-link" href="#">Accueil</a>-->
          </li>
          <li class="nav-item">
            <%= link_to "Collections", clothings_path, class: "nav-link" %>
            <!--<a class="nav-link" href="#">Collections</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Commandes</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://ecn-neuropsy.com/wp-content/uploads/2023/12/Emmabisbisbis-e1703779369947.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Mon compte</a>
              <a class="dropdown-item" href="#">Créations en cours</a>
                            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
